<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap" rel="stylesheet">
</head>
<a><img
  class="logo"
  src="https://www.freeiconspng.com/thumbs/recipes-icon-png/free-recipe-sheet-clip-art-21.png"
  alt="Recipe image"
  title="Credit: https://www.freeiconspng.com/img/2990"
  
/>
</a>
<input id="searchForRecipe" type="text" placeholder="Search for recipe" />
<nav>
  <!-- <a href="#">Tab 1</a>
  <a href="#">Tab 2</a> -->
</nav>
